.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.landing-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0F0F0F;
}
.landing-page-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.landing-page-image {
  height: 4rem;
}
.landing-page-nav {
  display: flex;
}
.landing-page-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.landing-page-burger-menu {
  display: none;
}
.landing-page-icon {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}
.landing-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.landing-page-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.landing-page-image1 {
  height: 2rem;
}
.landing-page-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.landing-page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.landing-page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.landing-page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.landing-page-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-link {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link:hover {
  transform: scale(1.02);
}
.landing-page-image2 {
  width: 45rem;
  margin-top: 10%;
  margin-bottom: 10%;
}
.landing-page-container2 {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text {
  font-size: 20px;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text001 {
  font-size: 17px;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text002 {
  font-size: 17px;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text003 {
  font-size: 17px;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-hero1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-container3 {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text004 {
  font-size: 40px;
  text-align: center;
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0.00%,rgb(242, 164, 130) 19.00%,rgb(254, 191, 164) 39.00%,rgb(254, 191, 164) 60.00%,rgb(242, 164, 130) 81.00%,rgb(254, 144, 96) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing-page-image3 {
  width: 45rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.landing-page-container4 {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text009 {
  font-size: 40px;
}
.landing-page-text010 {
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.landing-page-link1 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link1:hover {
  transform: scale(1.02);
}
.landing-page-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://i.imgur.com/i4Awqef.jpg');
  background-position: center;
}
.landing-page-image4 {
  width: 100%;
  object-fit: cover;
}
.landing-page-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.landing-page-text013 {
  color: #FFFFFF;
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0.00%,rgb(242, 164, 130) 19.00%,rgb(254, 191, 164) 39.00%,rgb(254, 191, 164) 60.00%,rgb(242, 164, 130) 81.00%,rgb(254, 144, 96) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing-page-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-text014 {
  color: #FFFFFF;
  margin-top: 5%;
  font-weight: 300;
}
.landing-page-image5 {
  width: 450px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.landing-page-text017 {
  color: #FFFFFF;
  margin-top: 5%;
  font-weight: 300;
}
.landing-page-image6 {
  width: 450px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.landing-page-text020 {
  color: #FFFFFF;
  margin-top: 5%;
  font-weight: 300;
}
.landing-page-image7 {
  width: 450px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  object-position: left;
}
.landing-page-text023 {
  color: #FFFFFF;
  margin-top: 5%;
  text-align: center;
  font-weight: 100;
}
.landing-page-banner1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://i.imgur.com/i4Awqef.jpg');
  background-position: center;
}
.landing-page-text039 {
  color: #FFFFFF;
  font-size: 32px;
  margin-top: 15%;
  text-align: center;
}
.landing-page-text040 {
  color: #FFFFFF;
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: 5%;
}
.landing-page-link2 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: 10%;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link2:hover {
  transform: scale(1.02);
}
.landing-page-features1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.landing-page-text041 {
  color: #FFFFFF;
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0.00%,rgb(242, 164, 130) 19.00%,rgb(254, 191, 164) 39.00%,rgb(254, 191, 164) 60.00%,rgb(242, 164, 130) 81.00%,rgb(254, 144, 96) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing-page-text044 {
  color: #FFFFFF;
  width: 70%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5%;
}
.landing-page-text045 {
  color: #FFFFFF;
  width: 90%;
  font-size: 16px;
  text-align: left;
  font-weight: 100;
  margin-bottom: 10%;
}
.landing-page-text046 {
  width: 70%;
  text-align: left;
  margin-bottom: 5%;
}
.landing-page-text047 {
  width: 70%;
  text-align: left;
  margin-bottom: 5%;
}
.landing-page-text048 {
  width: 70%;
  text-align: left;
  margin-bottom: 5%;
}
.landing-page-text069 {
  color: #FFFFFF;
  width: 70%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5%;
}
.landing-page-text070 {
  color: #FFFFFF;
  width: 90%;
  font-size: 16px;
  text-align: left;
  font-weight: 100;
  margin-bottom: 10%;
}
.landing-page-text096 {
  color: #FFFFFF;
  width: 70%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5%;
}
.landing-page-text097 {
  color: #FFFFFF;
  width: 90%;
  font-size: 16px;
  text-align: left;
  font-weight: 100;
}
.landing-page-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.landing-page-image8 {
  height: 50px;
  object-fit: cover;
}
.landing-page-text121 {
  color: #FFFFFF;
}
.landing-page-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link3 {
  display: contents;
}
.landing-page-icon10 {
  fill: #FFFFFF;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 991px) {
  .landing-page-hero {
    flex-direction: column;
  }
  .landing-page-image2 {
    width: 80%;
  }
  .landing-page-container2 {
    margin-top: 10%;
    align-items: center;
    margin-right: 0px;
  }
  .landing-page-text {
    text-align: center;
  }
  .landing-page-text001 {
    text-align: center;
  }
  .landing-page-text002 {
    text-align: center;
  }
  .landing-page-text003 {
    text-align: center;
  }
  .landing-page-hero1 {
    flex-direction: column;
  }
  .landing-page-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .landing-page-text005 {
    text-align: center;
  }
  .landing-page-image3 {
    width: 80%;
  }
  .landing-page-container4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .landing-page-text009 {
    text-align: center;
  }
  .landing-page-text010 {
    text-align: center;
  }
  .landing-page-features {
    align-items: center;
  }
  .landing-page-container5 {
    flex-direction: column;
  }
  .landing-page-image5 {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .landing-page-image6 {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .landing-page-image7 {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .landing-page-text040 {
    width: 100%;
  }
  .landing-page-text041 {
    text-align: center;
  }
  .landing-page-text044 {
    text-align: center;
  }
  .landing-page-text046 {
    text-align: center;
  }
  .landing-page-text047 {
    text-align: center;
  }
  .landing-page-text048 {
    text-align: center;
  }
  .landing-page-text069 {
    text-align: center;
  }
  .landing-page-text096 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .landing-page-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .landing-page-nav {
    display: none;
  }
  .landing-page-btn-group {
    display: none;
  }
  .landing-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-page-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .landing-page-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .landing-page-text010 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .landing-page-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .landing-page-text013 {
    text-align: center;
  }
  .landing-page-container5 {
    flex-direction: column;
  }
  .landing-page-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .landing-page-text040 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .landing-page-text041 {
    text-align: center;
  }
  .landing-page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .landing-page-text121 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .landing-page-container {
    align-content: center;
  }
  .landing-page-header {
    padding: var(--dl-space-space-unit);
  }
  .landing-page-mobile-menu {
    padding: 16px;
  }
  .landing-page-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .landing-page-link {
    color: #0f0f0f;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    border-radius: 0px;
    background-color: rgb(254, 191, 164);
  }
  .landing-page-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text001 {
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
  }
  .landing-page-text002 {
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
  }
  .landing-page-text003 {
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
  }
  .landing-page-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .landing-page-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .landing-page-text004 {
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
  }
  .landing-page-image3 {
    width: 40%;
  }
  .landing-page-container4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .landing-page-text009 {
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text010 {
    font-weight: 100;
  }
  .landing-page-link1 {
    color: #0f0f0f;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    border-radius: 0px;
    background-color: rgb(254, 191, 164);
  }
  .landing-page-banner {
    height: 311px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .landing-page-features {
    height: 883px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .landing-page-text013 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
  }
  .landing-page-text014 {
    color: rgb(255, 255, 255);
    font-weight: 300;
  }
  .landing-page-image5 {
    width: 100px;
    height: 100px;
  }
  .landing-page-text017 {
    color: rgb(255, 255, 255);
    font-weight: 300;
  }
  .landing-page-image6 {
    width: 100px;
    height: 100px;
  }
  .landing-page-text020 {
    color: rgb(255, 255, 255);
    font-weight: 300;
  }
  .landing-page-image7 {
    width: 100px;
    height: 100px;
  }
  .landing-page-text023 {
    color: rgb(255, 255, 255);
    align-self: center;
    font-weight: 100;
  }
  .landing-page-text024 {
    font-style: normal;
  }
  .landing-page-text025 {
    font-style: normal;
  }
  .landing-page-text026 {
    font-style: normal;
  }
  .landing-page-text027 {
    font-style: normal;
  }
  .landing-page-text028 {
    font-style: normal;
  }
  .landing-page-text029 {
    font-style: normal;
  }
  .landing-page-text030 {
    font-style: normal;
  }
  .landing-page-text031 {
    color: #febfa4;
    font-style: normal;
    font-weight: 700;
  }
  .landing-page-text032 {
    font-style: normal;
  }
  .landing-page-text033 {
    font-style: normal;
  }
  .landing-page-text034 {
    color: #febfa4;
    font-weight: 700;
  }
  .landing-page-text035 {
    font-style: normal;
  }
  .landing-page-text036 {
    font-style: normal;
  }
  .landing-page-text037 {
    color: #febfa4;
    font-weight: 700;
  }
  .landing-page-text038 {
    font-style: normal;
  }
  .landing-page-banner1 {
    height: 375px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .landing-page-text039 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text040 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 100;
  }
  .landing-page-link2 {
    color: #0f0f0f;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    border-radius: 0px;
    background-color: rgb(254, 191, 164);
  }
  .landing-page-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .landing-page-text041 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  }
  .landing-page-text045 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 100;
  }
  .landing-page-text046 {
    font-size: 8px;
  }
  .landing-page-text048 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text051 {
    font-size: 8px;
  }
  .landing-page-text055 {
    font-size: 8px;
  }
  .landing-page-text056 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text060 {
    font-size: 8px;
  }
  .landing-page-text064 {
    font-size: 8px;
  }
  .landing-page-text066 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text069 {
    color: rgb(255, 255, 255);
  }
  .landing-page-text070 {
    color: rgb(255, 255, 255);
  }
  .landing-page-text071 {
    font-size: 8px;
  }
  .landing-page-text073 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text075 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text078 {
    font-size: 8px;
  }
  .landing-page-text081 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text085 {
    font-size: 8px;
  }
  .landing-page-text088 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text092 {
    font-size: 8px;
  }
  .landing-page-text094 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text096 {
    color: rgb(255, 255, 255);
  }
  .landing-page-text097 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 100;
  }
  .landing-page-text098 {
    font-size: 8px;
  }
  .landing-page-text100 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text104 {
    font-size: 8px;
  }
  .landing-page-text106 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text111 {
    font-size: 8px;
  }
  .landing-page-text116 {
    font-size: 8px;
  }
  .landing-page-text119 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-text120 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .landing-page-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .landing-page-image8 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-text121 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
