.navigation-links-nav {
  flex: 0 0 auto;
  color: #ffffff;
  align-items: center;
}
.navigation-links-link {
  color: #ffffff;
  font-size: 24px;
  transition: 0.3s;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.navigation-links-link:hover {
  color: #febfa4;
}
.navigation-links-link1 {
  color: #ffffff;
  font-size: 24px;
  transition: 0.3s;
  font-weight: 100;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.navigation-links-link1:hover {
  color: #febfa4;
}
.navigation-links-link2 {
  color: #ffffff;
  font-size: 24px;
  transition: 0.3s;
  font-weight: 100;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.navigation-links-link2:hover {
  color: #febfa4;
}
.navigation-links-text {
  color: #ffffff;
  font-size: 24px;
  transition: 0.3s;
  font-weight: 100;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.navigation-links-text:hover {
  color: #febfa4;
}
.navigation-links-link3 {
  color: #ffffff;
  display: none;
  font-size: 24px;
  transition: 0.3s;
  font-weight: 100;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.navigation-links-link3:hover {
  color: #febfa4;
}












@media(max-width: 767px) {
  .navigation-links-link1 {
    margin-left: 0;
  }
  .navigation-links-link2 {
    margin-left: 0;
  }
  .navigation-links-text {
    margin-left: 0;
  }
  .navigation-links-link3 {
    margin-left: 0;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .navigation-links-link {
    font-size: 32px;
    font-weight: 300;
  }
  .navigation-links-link1 {
    font-size: 32px;
    font-weight: 300;
  }
  .navigation-links-link2 {
    font-size: 32px;
    font-weight: 300;
  }
  .navigation-links-text {
    font-size: 32px;
    font-weight: 300;
  }
  .navigation-links-link3 {
    display: flex;
    font-size: 32px;
    font-weight: 300;
  }
  .navigation-links-root-class-name9 {
    align-self: center;
  }
  .navigation-links-root-class-name11 {
    align-self: center;
  }
}

.roku-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-roku-mist);
}
.roku-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.roku-link {
  display: contents;
}
.roku-header-logo {
  height: 6rem;
  text-decoration: none;
}
.roku-nav {
  display: flex;
  flex-direction: row;
}
.roku-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.roku-page-landing-button {
  color: var(--dl-color-roku-mist);
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-roku-chaulk);
}
.roku-page-landing-button:hover {
  transform: scale(1.02);
  background-color: #FE9060;
}
.roku-burger-menu {
  display: none;
}
.roku-icon {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}
.roku-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #febfa4;
}
.roku-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.roku-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.roku-image {
  height: var(--dl-size-size-xlarge);
  margin-left: 23%;
}
.roku-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roku-icon2 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.roku-page-landing {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.roku-page-landing-button1 {
  display: none;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.roku-page-landing-button1:hover {
  transform: scale(1.02);
}
.roku-page-landing-text {
  left: 100px;
  color: #FFFFFF;
  display: flex;
  position: absolute;
  text-align: right;
  flex-direction: column;
}
.roku-page-landing-h1 {
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.roku-page-landing-h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-unit);
}
.roku-page-landing-h3 {
  font-size: 38px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-unit);
}
.roku-page-landing-h4 {
  font-size: 38px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-unit);
}
.roku-page-landing-logo {
  top: 10px;
  right: 230px;
  width: 680px;
  position: absolute;
}
.roku-page-journey {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 110vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.roku-page-journey-title {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.roku-page-journey-t1 {
  top: 0.5em;
  width: 100%;
  position: absolute;
  font-size: 85px;
  text-align: center;
  font-weight: 300;
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roku-page-journey-t2 {
  width: 100%;
  display: none;
  font-size: 72px;
  text-align: center;
  font-weight: 300;
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roku-page-journey-desktop {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.roku-page-journey-image {
  width: 25%;
  box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.15);
  margin-top: 5%;
  margin-left: 25%;
}
.roku-page-journey-text {
  color: #FFFFFF;
  width: 551px;
  display: flex;
  position: absolute;
  margin-top: 3%;
  align-items: center;
  margin-left: 50%;
  flex-direction: column;
}
.roku-page-journey-h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 10%;
}
.roku-page-journey-h2 {
  font-weight: 100;
}
.roku-page-journey-h3 {
  margin-top: var(--dl-space-space-twounits);
  font-weight: 100;
  margin-bottom: var(--dl-space-space-unit);
}
.roku-page-journey-button {
  color: var(--dl-color-roku-mist);
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: 65%;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-roku-chaulk);
}
.roku-page-journey-button:hover {
  transform: scale(1.02);
  background-color: #FE9060;
}
.roku-link1 {
  display: contents;
}
.roku-icon4 {
  fill: #FFFFFF;
  left: 219px;
  width: 45px;
  bottom: 1px;
  height: 45px;
  position: absolute;
  text-decoration: none;
}
.roku-page-journey-mobile {
  flex: 0 0 auto;
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.roku-page-journey-image1 {
  width: 25%;
  align-self: center;
  box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.15);
}
.roku-page-journey-text1 {
  color: #FFFFFF;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.roku-page-journey-h11 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 10%;
}
.roku-page-journey-h21 {
  font-weight: 100;
}
.roku-page-journey-h31 {
  margin-top: var(--dl-space-space-twounits);
  font-weight: 100;
  margin-bottom: var(--dl-space-space-unit);
}
.roku-page-journey-button1 {
  color: rgb(15, 15, 15);
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: 65%;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(254, 191, 164);
}
.roku-page-journey-button1:hover {
  transform: scale(1.02);
  background-color: #FE9060;
}
.roku-link2 {
  display: contents;
}
.roku-icon6 {
  fill: #FFFFFF;
  width: 45px;
  bottom: 1px;
  height: 45px;
  margin-top: 5%;
}
.roku-divider-first {
  width: 100%;
  height: 270px;
  display: flex;
  z-index: 2;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://i.imgur.com/i4Awqef.jpg');
  background-position: center;
  background-attachment: fixed;
}
.roku-divider-first-image {
  height: 100%;
  z-index: 3;
  object-fit: cover;
}
.roku-page-promise {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 110vh;
  flex-direction: column;
}
.roku-page-promise-title {
  color: #FFFFFF;
  font-size: 85px;
  text-align: center;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0.00%,rgb(242, 164, 130) 19.00%,rgb(254, 191, 164) 39.00%,rgb(254, 191, 164) 60.00%,rgb(242, 164, 130) 81.00%,rgb(254, 144, 96) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roku-page-promise-money-text {
  width: 100%;
  display: none;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.roku-page-promise-money {
  color: #FFFFFF;
  margin-top: 5%;
  font-weight: 300;
}
.roku-page-promise-money-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.roku-page-promise-time-text {
  width: 100%;
  display: none;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.roku-page-promise-time {
  color: #FFFFFF;
  margin-top: 5%;
  font-weight: 300;
}
.roku-page-promise-time-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.roku-page-promise-freedom-text {
  width: 100%;
  display: none;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.roku-page-promise-freedom {
  color: #FFFFFF;
  margin-top: 5%;
  font-weight: 300;
}
.roku-page-promise-freedom-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  object-position: left;
}
.roku-page-promise-text {
  color: rgb(255, 255, 255);
  display: none;
  position: absolute;
  font-size: 28px;
  text-align: center;
  font-weight: 100;
}
.roku-text024 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-text027 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-text030 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-promise-text1 {
  display: flex;
  position: relative;
  margin-top: 55;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.roku-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: 15%;
  flex-direction: column;
}
.roku-page-promise-money-image1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 15%;
  object-position: left;
}
.roku-page-promise-money1 {
  color: #FFFFFF;
  bottom: -40px;
  position: absolute;
  font-size: 40px;
  font-weight: 300;
}
.roku-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.roku-page-promise-time-image1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 15%;
  object-position: left;
}
.roku-page-promise-time1 {
  color: #FFFFFF;
  bottom: -40px;
  position: absolute;
  font-size: 40px;
  font-weight: 300;
}
.roku-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-right: 15%;
  flex-direction: column;
}
.roku-page-promise-freedom-image1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 15%;
  object-position: left;
}
.roku-page-promise-freedom1 {
  color: #FFFFFF;
  bottom: -40px;
  position: absolute;
  font-size: 40px;
  font-weight: 300;
}
.roku-page-promise-text2 {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 28px;
  margin-top: 40%;
  text-align: center;
  font-weight: 100;
}
.roku-text045 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-text048 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-text051 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-welcome-to-roku {
  width: 30%;
  align-self: center;
  margin-top: 28%;
  object-fit: cover;
}
.roku-divider-second {
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 2%;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://i.imgur.com/Fu8RvG6.jpg');
  background-position: center;
}
.roku-divider-second-title {
  color: #FFFFFF;
  font-size: 32px;
  margin-top: 3%;
  text-align: center;
}
.roku-divider-second-text {
  color: #FFFFFF;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 1%;
  text-align: center;
  margin-bottom: 2%;
}
.roku-divider-second-buttom {
  color: var(--dl-color-roku-mist);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 0px;
  margin-bottom: 10%;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-roku-chaulk);
}
.roku-divider-second-buttom:hover {
  transform: scale(1.02);
}
.roku-page-services {
  width: 100%;
  display: none;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.roku-page-services-title {
  color: #FFFFFF;
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0.00%,rgb(242, 164, 130) 19.00%,rgb(254, 191, 164) 39.00%,rgb(254, 191, 164) 60.00%,rgb(242, 164, 130) 81.00%,rgb(254, 144, 96) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roku-page-services-st1 {
  color: #FFFFFF;
  width: 70%;
  font-size: 42px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-left: 5%;
  margin-bottom: 3%;
  flex-direction: column;
}
.roku-page-services-h1 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a1 {
  margin-right: 1%;
}
.roku-page-services-h2 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a2 {
  margin-right: 1%;
}
.roku-page-services-h3 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a3 {
  margin-right: 1%;
}
.roku-page-services-h4 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a4 {
  margin-right: 1%;
}
.roku-page-services-h5 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a5 {
  margin-right: 1%;
}
.roku-image1 {
  width: 50%;
  object-fit: cover;
}
.roku-page-services-st2 {
  color: #FFFFFF;
  width: 70%;
  font-size: 42px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-left: 5%;
  margin-bottom: 3%;
  flex-direction: column;
}
.roku-page-services-h6 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a6 {
  margin-right: 1%;
}
.roku-page-services-h7 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a7 {
  margin-right: 1%;
}
.roku-page-services-h8 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a8 {
  margin-right: 1%;
}
.roku-page-services-h9 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a9 {
  margin-right: 1%;
}
.roku-image2 {
  width: 50%;
  object-fit: cover;
}
.roku-page-services-st3 {
  color: #FFFFFF;
  width: 70%;
  font-size: 42px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-left: 5%;
  flex-direction: column;
}
.roku-page-services-h10 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a10 {
  margin-right: 1%;
}
.roku-page-services-h11 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a11 {
  margin-right: 1%;
}
.roku-page-services-h12 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a12 {
  margin-right: 1%;
}
.roku-page-services-h13 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a13 {
  margin-right: 1%;
}
.roku-page-services-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 3%;
}
.roku-page-services-title1 {
  top: 0px;
  left: 750px;
  color: #FFFFFF;
  position: absolute;
  font-size: 85px;
  font-weight: 300;
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0.00%,rgb(242, 164, 130) 19.00%,rgb(254, 191, 164) 39.00%,rgb(254, 191, 164) 60.00%,rgb(242, 164, 130) 81.00%,rgb(254, 144, 96) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roku-page-services-left-divider {
  top: 220px;
  left: -540px;
  right: 0px;
  width: 15%;
  margin: auto;
  opacity: 0.25;
  position: absolute;
  transform: rotate(90deg);
  object-fit: cover;
}
.roku-page-services-am {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
  margin-left: 9%;
  margin-right: 5%;
  flex-direction: column;
}
.roku-page-services-st11 {
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 3%;
  flex-direction: column;
}
.roku-page-services-h11 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a11 {
  margin-right: 1%;
}
.roku-text097 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h21 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a21 {
  margin-right: 1%;
}
.roku-page-services-h31 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a31 {
  margin-right: 1%;
}
.roku-text101 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h41 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a41 {
  margin-right: 1%;
}
.roku-page-services-h51 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a51 {
  margin-right: 1%;
}
.roku-text107 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-aa {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
  margin-right: 5%;
  flex-direction: column;
}
.roku-page-services-st21 {
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text21 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 3%;
  flex-direction: column;
}
.roku-page-services-h61 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a61 {
  margin-right: 1%;
}
.roku-text110 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h71 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a71 {
  margin-right: 1%;
}
.roku-text112 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h81 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a81 {
  margin-right: 1%;
}
.roku-text116 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-text117 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h91 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a91 {
  margin-right: 1%;
}
.roku-text120 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-text121 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-right-divider {
  top: 220px;
  left: 1125px;
  right: 500px;
  width: 15%;
  margin: auto;
  opacity: 0.25;
  position: absolute;
  transform: rotate(90deg);
  object-fit: cover;
}
.roku-page-services-ag {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
  flex-direction: column;
}
.roku-page-services-st31 {
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text31 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.roku-page-services-h101 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a101 {
  margin-right: 1%;
}
.roku-text125 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h111 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a111 {
  margin-right: 1%;
}
.roku-text128 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h121 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a121 {
  margin-right: 1%;
}
.roku-page-services-h131 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a131 {
  margin-right: 1%;
}
.roku-text134 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.roku-footer-logo {
  height: 70px;
  object-fit: cover;
}
.roku-footer-text {
  color: #FFFFFF;
}
.roku-footer-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.roku-link3 {
  display: contents;
}
.roku-footer-instagram {
  fill: #FFFFFF;
  width: 32px;
  height: 32px;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .roku-page-landing-button1 {
    display: contents;
  }
  .roku-page-landing-text {
    left: 120px;
  }
  .roku-page-landing-h1 {
    font-size: 30px;
  }
  .roku-page-landing-h2 {
    font-size: 28px;
  }
  .roku-page-landing-h3 {
    font-size: 28px;
  }
  .roku-page-landing-h4 {
    font-size: 28px;
  }
  .roku-page-landing-logo {
    top: 10px;
    left: 800px;
    width: 40%;
  }
  .roku-page-journey-image {
    width: 30%;
    margin-left: 20%;
  }
  .roku-page-journey-image1 {
    width: 30%;
  }
  .roku-page-journey-text1 {
    top: 360px;
    left: 850px;
    right: 142px;
  }
  .roku-page-promise {
    min-height: 0vh;
  }
  .roku-page-promise-text2 {
    margin-top: 50%;
  }
  .roku-welcome-to-roku {
    margin-top: 32%;
  }
  .roku-page-services-title1 {
    left: 37%;
  }
  .roku-page-services-left-divider {
    left: -400px;
  }
  .roku-page-services-am {
    width: 465px;
    margin-left: 6%;
  }
  .roku-page-services-st11 {
    color: rgb(255, 255, 255);
    font-size: 36px;
  }
  .roku-page-services-right-divider {
    left: 960px;
  }
}
@media(max-width: 1200px) {
  .roku-page-landing-button {
    display: flex;
  }
  .roku-page-landing-text {
    left: 80px;
  }
  .roku-page-landing-h1 {
    font-size: 24px;
  }
  .roku-page-landing-h2 {
    font-size: 20px;
  }
  .roku-page-landing-h3 {
    font-size: 20px;
  }
  .roku-page-landing-h4 {
    font-size: 20px;
  }
  .roku-page-landing-logo {
    top: 110px;
    left: 620px;
    width: 40%;
  }
  .roku-page-journey-image {
    width: 35%;
    margin-left: 10%;
  }
  .roku-page-journey-text {
    top: 24.5%;
    margin-left: 45%;
  }
  .roku-page-journey-image1 {
    width: 35%;
    margin-right: 45%;
  }
  .roku-page-journey-text1 {
    top: 390px;
    left: 580px;
  }
  .roku-page-promise {
    min-height: 100vh;
  }
  .roku-page-promise-text2 {
    margin-top: 65%;
  }
  .roku-welcome-to-roku {
    margin-top: 45%;
  }
  .roku-page-services-left-divider {
    top: 260px;
    left: -340px;
  }
  .roku-page-services-right-divider {
    top: 260px;
    left: 700px;
  }
}
@media(max-width: 991px) {
  .roku-page-landing {
    flex-direction: column;
  }
  .roku-page-landing-text {
    margin-top: 10%;
    align-items: center;
    margin-right: 0px;
  }
  .roku-page-landing-h1 {
    text-align: center;
  }
  .roku-page-landing-h2 {
    text-align: center;
  }
  .roku-page-landing-h3 {
    text-align: center;
  }
  .roku-page-landing-h4 {
    text-align: center;
  }
  .roku-page-journey {
    flex-direction: column;
  }
  .roku-page-journey-title {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .roku-text {
    text-align: center;
  }
  .roku-text003 {
    text-align: center;
  }
  .roku-page-journey-text {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-journey-h1 {
    text-align: center;
  }
  .roku-page-journey-h2 {
    text-align: center;
  }
  .roku-page-journey-h3 {
    text-align: center;
  }
  .roku-page-journey-text1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-journey-h11 {
    text-align: center;
  }
  .roku-page-journey-h21 {
    text-align: center;
  }
  .roku-page-journey-h31 {
    text-align: center;
  }
  .roku-page-promise {
    align-items: center;
  }
  .roku-page-promise-money-text {
    flex-direction: column;
  }
  .roku-page-promise-money-image {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-page-promise-time-text {
    flex-direction: column;
  }
  .roku-page-promise-time-image {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-page-promise-freedom-text {
    flex-direction: column;
  }
  .roku-page-promise-freedom-image {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-page-promise-text1 {
    flex-direction: column;
  }
  .roku-page-promise-money-image1 {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-page-promise-time-image1 {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-page-promise-freedom-image1 {
    width: 100px;
    height: 100px;
    position: static;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-divider-second-text {
    width: 100%;
  }
  .roku-page-services-title {
    text-align: center;
  }
  .roku-page-services-st1 {
    text-align: center;
  }
  .roku-page-services-st2 {
    text-align: center;
  }
  .roku-page-services-st3 {
    text-align: center;
  }
  .roku-page-services-title1 {
    text-align: center;
  }
  .roku-page-services-st11 {
    text-align: center;
  }
  .roku-page-services-st21 {
    text-align: center;
  }
  .roku-page-services-st31 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .roku-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-nav {
    display: none;
  }
  .roku-btn-group {
    display: none;
  }
  .roku-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .roku-page-landing {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-page-journey {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-page-journey-h2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .roku-page-journey-h3 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .roku-page-journey-h21 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .roku-page-journey-h31 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .roku-divider-first {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-page-promise {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-page-promise-title {
    text-align: center;
  }
  .roku-page-promise-money-text {
    flex-direction: column;
  }
  .roku-page-promise-time-text {
    flex-direction: column;
  }
  .roku-page-promise-freedom-text {
    flex-direction: column;
  }
  .roku-page-promise-text1 {
    flex-direction: column;
  }
  .roku-divider-second {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-divider-second-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .roku-page-services {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-page-services-title {
    text-align: center;
  }
  .roku-page-services-title1 {
    text-align: center;
  }
  .roku-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .roku-container {
    align-content: center;
  }
  .roku-header {
    padding: var(--dl-space-space-unit);
  }
  .roku-header-logo {
    height: 4rem;
  }
  .roku-page-landing-button {
    color: #0f0f0f;
    display: flex;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    border-radius: 0px;
    background-color: rgb(254, 191, 164);
  }
  .roku-mobile-menu {
    display: none;
    padding: 16px;
  }
  .roku-page-landing {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-landing-button1 {
    color: rgb(15, 15, 15);
    display: flex;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: rgb(254, 191, 164);
  }
  .roku-page-landing-text {
    width: 100%;
    position: static;
  }
  .roku-page-landing-h1 {
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-landing-h2 {
    width: 100%;
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
  }
  .roku-page-landing-h3 {
    width: 100%;
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
  }
  .roku-page-landing-h4 {
    width: 100%;
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
  }
  .roku-page-landing-logo {
    position: static;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 10%;
  }
  .roku-page-journey {
    min-height: 0vh;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-journey-title {
    margin-bottom: var(--dl-space-space-unit);
  }
  .roku-page-journey-t1 {
    display: none;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  }
  .roku-page-journey-t2 {
    display: block;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  }
  .roku-page-journey-desktop {
    display: none;
  }
  .roku-page-journey-image {
    width: 40%;
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-journey-text {
    width: 100%;
    height: 50%;
    position: static;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .roku-page-journey-h1 {
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 3%;
  }
  .roku-page-journey-h2 {
    text-align: center;
    font-weight: 100;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .roku-page-journey-h3 {
    text-align: center;
    font-weight: 100;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .roku-page-journey-button {
    color: #0f0f0f;
    align-self: center;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    margin-right: 0%;
    border-radius: 0px;
    background-color: rgb(254, 191, 164);
  }
  .roku-page-journey-mobile {
    display: flex;
  }
  .roku-page-journey-image1 {
    width: 40%;
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-journey-text1 {
    width: 100%;
    height: 50%;
    position: static;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .roku-page-journey-h11 {
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 3%;
  }
  .roku-page-journey-h21 {
    text-align: center;
    font-weight: 100;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .roku-page-journey-h31 {
    text-align: center;
    font-weight: 100;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .roku-page-journey-button1 {
    color: #0f0f0f;
    align-self: center;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    margin-right: 0%;
    border-radius: 0px;
    background-color: rgb(254, 191, 164);
  }
  .roku-divider-first {
    height: 375px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
    background-image: url('https://i.imgur.com/i4Awqef.jpg');
    background-position: center;
    background-attachment: scroll;
  }
  .roku-divider-first-image {
    width: 100%;
    height: 50%;
    object-fit: contain;
  }
  .roku-page-promise {
    min-height: 0vh;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-promise-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
  }
  .roku-page-promise-money-text {
    display: flex;
  }
  .roku-page-promise-money {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-money-image {
    width: 100px;
    height: 100px;
  }
  .roku-page-promise-time-text {
    display: flex;
  }
  .roku-page-promise-time {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-time-image {
    width: 100px;
    height: 100px;
  }
  .roku-page-promise-freedom-text {
    display: flex;
  }
  .roku-page-promise-freedom {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-freedom-image {
    width: 100px;
    height: 100px;
  }
  .roku-page-promise-text {
    color: rgb(255, 255, 255);
    display: block;
    position: static;
    font-size: 16px;
    align-self: center;
    font-weight: 100;
  }
  .roku-text017 {
    font-style: normal;
  }
  .roku-text018 {
    font-style: normal;
  }
  .roku-text019 {
    font-style: normal;
  }
  .roku-text020 {
    font-style: normal;
  }
  .roku-text021 {
    font-style: normal;
  }
  .roku-text022 {
    font-style: normal;
  }
  .roku-text023 {
    font-style: normal;
  }
  .roku-text024 {
    color: #febfa4;
    font-style: normal;
    font-weight: 700;
  }
  .roku-text025 {
    font-style: normal;
  }
  .roku-text026 {
    font-style: normal;
  }
  .roku-text027 {
    color: #febfa4;
    font-weight: 700;
  }
  .roku-text028 {
    font-style: normal;
  }
  .roku-text029 {
    font-style: normal;
  }
  .roku-text030 {
    color: #febfa4;
    font-weight: 700;
  }
  .roku-text031 {
    font-style: normal;
  }
  .roku-page-promise-text1 {
    display: none;
  }
  .roku-page-promise-money-image1 {
    width: 100px;
    height: 100px;
    position: static;
  }
  .roku-page-promise-money1 {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-time-image1 {
    width: 100px;
    height: 100px;
    position: static;
  }
  .roku-page-promise-time1 {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-freedom-image1 {
    width: 100px;
    height: 100px;
  }
  .roku-page-promise-freedom1 {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-text2 {
    color: rgb(255, 255, 255);
    position: static;
    align-self: center;
    font-weight: 100;
  }
  .roku-text038 {
    font-style: normal;
  }
  .roku-text039 {
    font-style: normal;
  }
  .roku-text040 {
    font-style: normal;
  }
  .roku-text041 {
    font-style: normal;
  }
  .roku-text042 {
    font-style: normal;
  }
  .roku-text043 {
    font-style: normal;
  }
  .roku-text044 {
    font-style: normal;
  }
  .roku-text045 {
    color: #febfa4;
    font-style: normal;
    font-weight: 700;
  }
  .roku-text046 {
    font-style: normal;
  }
  .roku-text047 {
    font-style: normal;
  }
  .roku-text048 {
    color: #febfa4;
    font-weight: 700;
  }
  .roku-text049 {
    font-style: normal;
  }
  .roku-text050 {
    font-style: normal;
  }
  .roku-text051 {
    color: #febfa4;
    font-weight: 700;
  }
  .roku-text052 {
    font-style: normal;
  }
  .roku-welcome-to-roku {
    width: 50%;
    margin-top: 10%;
  }
  .roku-divider-second {
    height: 375px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
    background-image: url('https://i.imgur.com/Z69Ns9H.jpg');
  }
  .roku-divider-second-title {
    color: rgb(255, 255, 255);
    font-style: normal;
    margin-top: 15%;
    font-weight: 500;
  }
  .roku-divider-second-text {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 100;
    margin-bottom: 5%;
  }
  .roku-divider-second-buttom {
    color: #0f0f0f;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    border-radius: 0px;
    background-color: rgb(254, 191, 164);
  }
  .roku-page-services {
    display: flex;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-services-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  }
  .roku-page-services-st1 {
    font-size: 20px;
  }
  .roku-page-services-text1 {
    width: 100%;
  }
  .roku-page-services-h1 {
    font-size: 16px;
  }
  .roku-text056 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-h2 {
    font-size: 16px;
  }
  .roku-page-services-h3 {
    font-size: 16px;
  }
  .roku-text060 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-h4 {
    font-size: 16px;
  }
  .roku-page-services-h5 {
    font-size: 16px;
  }
  .roku-text066 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-image1 {
    width: 150px;
    height: 12px;
    margin-bottom: 5%;
  }
  .roku-page-services-st2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .roku-page-services-text2 {
    width: 100%;
  }
  .roku-text069 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text071 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text075 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text076 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text079 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text080 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-image2 {
    width: 150px;
    height: 12px;
    margin-bottom: 5%;
  }
  .roku-page-services-st3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .roku-page-services-text3 {
    width: 100%;
  }
  .roku-text084 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text087 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text092 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-main {
    display: none;
    align-items: flex-start;
  }
  .roku-page-services-title1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  }
  .roku-page-services-left-divider {
    width: 150px;
    height: 12px;
    margin-bottom: 5%;
  }
  .roku-page-services-st11 {
    font-size: 20px;
  }
  .roku-page-services-text11 {
    width: 100%;
  }
  .roku-page-services-h11 {
    font-size: 16px;
  }
  .roku-text097 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-h21 {
    font-size: 16px;
  }
  .roku-page-services-h31 {
    font-size: 16px;
  }
  .roku-text101 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-h41 {
    font-size: 16px;
  }
  .roku-page-services-h51 {
    font-size: 16px;
  }
  .roku-text107 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-st21 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .roku-page-services-text21 {
    width: 100%;
  }
  .roku-text110 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text112 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text117 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text120 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-right-divider {
    width: 150px;
    height: 12px;
    margin-bottom: 5%;
  }
  .roku-page-services-st31 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .roku-page-services-text31 {
    width: 100%;
  }
  .roku-text125 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text128 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text134 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .roku-footer-logo {
    height: 80px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .roku-footer-text {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .roku-footer-instagram {
    width: 24px;
    height: 24px;
  }
}
