.navigation-links-nav {
  flex: 0 0 auto;
  color: #ffffff;
  align-items: center;
}
.navigation-links-text {
  color: #ffffff;
  font-size: 24px;
  transition: 0.3s;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-threeunits);
}
.navigation-links-text:hover {
  color: #febfa4;
}
.navigation-links-text1 {
  color: #ffffff;
  font-size: 24px;
  transition: 0.3s;
  font-weight: 100;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.navigation-links-text1:hover {
  color: #febfa4;
}
.navigation-links-text2 {
  color: #ffffff;
  font-size: 24px;
  transition: 0.3s;
  font-weight: 100;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.navigation-links-text2:hover {
  color: #febfa4;
}
.navigation-links-text3 {
  color: #ffffff;
  font-size: 24px;
  transition: 0.3s;
  font-weight: 100;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.navigation-links-text3:hover {
  color: #febfa4;
}
.navigation-links-link {
  color: #ffffff;
  display: none;
  font-size: 24px;
  transition: 0.3s;
  font-weight: 100;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.navigation-links-link:hover {
  color: #febfa4;
}










@media(max-width: 767px) {
  .navigation-links-text1 {
    margin-left: 0;
  }
  .navigation-links-text2 {
    margin-left: 0;
  }
  .navigation-links-text3 {
    margin-left: 0;
  }
  .navigation-links-link {
    margin-left: 0;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .navigation-links-text {
    font-size: 32px;
    font-weight: 300;
  }
  .navigation-links-text1 {
    font-size: 32px;
    font-weight: 300;
  }
  .navigation-links-text2 {
    font-size: 32px;
    font-weight: 300;
  }
  .navigation-links-text3 {
    font-size: 32px;
    font-weight: 300;
  }
  .navigation-links-link {
    display: flex;
    font-size: 32px;
    font-weight: 300;
  }
  .navigation-links-root-class-name11 {
    align-self: center;
  }
}

.roku-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0F0F0F;
}
.roku-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.roku-header-logo {
  height: 6rem;
}
.roku-nav {
  display: flex;
  flex-direction: row;
}
.roku-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.roku-page-landing-button {
  color: #0f0f0f;
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #febfa4;
}
.roku-page-landing-button:hover {
  transform: scale(1.02);
  background-color: #FE9060;
}
.roku-burger-menu {
  display: none;
}
.roku-icon {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}
.roku-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #febfa4;
}
.roku-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.roku-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.roku-image {
  height: var(--dl-size-size-xlarge);
  margin-left: 25%;
}
.roku-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roku-icon02 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.roku-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.roku-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.roku-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.roku-page-landing {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.roku-page-landing-button1 {
  display: none;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.roku-page-landing-button1:hover {
  transform: scale(1.02);
}
.roku-page-landing-logo {
  top: 10px;
  right: 180px;
  width: 45rem;
  position: absolute;
}
.roku-page-landing-text {
  top: 328px;
  left: 80px;
  color: #FFFFFF;
  display: flex;
  position: absolute;
  text-align: right;
  flex-direction: column;
}
.roku-page-landing-h1 {
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.roku-page-landing-h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-unit);
}
.roku-page-landing-h3 {
  font-size: 38px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-unit);
}
.roku-page-landing-h4 {
  font-size: 38px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-unit);
}
.roku-page-journey {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.roku-bg-roku1 {
  top: -152px;
  right: 69px;
  width: 907px;
  height: 570px;
  opacity: 0.01;
  position: absolute;
  transform: rotate(15deg);
  object-fit: cover;
}
.roku-page-journey-title {
  color: #FFFFFF;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
.roku-page-journey-t1 {
  width: 100%;
  font-size: 85px;
  text-align: center;
  font-weight: 300;
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roku-page-journey-t2 {
  width: 100%;
  display: none;
  font-size: 72px;
  text-align: center;
  font-weight: 300;
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roku-page-journey-image {
  width: 25%;
  box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  margin-right: 28%;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.roku-page-journey-text {
  left: 975px;
  color: #FFFFFF;
  width: 30%;
  bottom: 173px;
  display: flex;
  position: absolute;
  align-items: center;
  margin-left: 1%;
  flex-direction: column;
}
.roku-page-journey-h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 10%;
}
.roku-page-journey-h2 {
  font-weight: 100;
}
.roku-page-journey-h3 {
  margin-top: var(--dl-space-space-twounits);
  font-weight: 100;
  margin-bottom: var(--dl-space-space-twounits);
}
.roku-page-journey-button {
  color: rgb(15, 15, 15);
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: 65%;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(254, 191, 164);
}
.roku-page-journey-button:hover {
  transform: scale(1.02);
  background-color: #FE9060;
}
.roku-link {
  display: contents;
}
.roku-icon10 {
  fill: #FFFFFF;
  left: 215px;
  width: 45px;
  bottom: 4px;
  height: 45px;
  position: absolute;
  text-decoration: none;
}
.roku-divider-first {
  width: 100%;
  height: 400;
  display: flex;
  z-index: 2;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://i.imgur.com/i4Awqef.jpg');
  background-position: center;
  background-attachment: fixed;
}
.roku-divider-first-image {
  width: 65%;
  height: 100%;
  z-index: 3;
  object-fit: cover;
}
.roku-page-promise {
  width: 100%;
  height: 774px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.roku-bg-roku11 {
  top: 2199px;
  left: 86px;
  width: 907px;
  height: 570px;
  opacity: 0.01;
  position: absolute;
  transform: rotate(-15deg);
}
.roku-page-promise-title {
  color: #FFFFFF;
  font-size: 85px;
  text-align: center;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0.00%,rgb(242, 164, 130) 19.00%,rgb(254, 191, 164) 39.00%,rgb(254, 191, 164) 60.00%,rgb(242, 164, 130) 81.00%,rgb(254, 144, 96) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roku-page-promise-text {
  width: 100%;
  height: 201px;
  display: none;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.roku-page-promise-money {
  color: #FFFFFF;
  margin-top: 5%;
  font-weight: 300;
}
.roku-page-promise-money-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.roku-page-promise-time {
  color: #FFFFFF;
  margin-top: 5%;
  font-weight: 300;
}
.roku-page-promise-time-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.roku-page-promise-freedom {
  color: #FFFFFF;
  margin-top: 5%;
  font-weight: 300;
}
.roku-page-promise-freedom-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  object-position: left;
}
.roku-page-promise-text1 {
  left: -3px;
  color: #FFFFFF;
  bottom: -191px;
  position: absolute;
  text-align: center;
  font-weight: 100;
}
.roku-page-promise-text2 {
  width: 100%;
  height: 201px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.roku-page-promise-money1 {
  color: #FFFFFF;
  bottom: -40px;
  position: absolute;
  font-size: 40px;
  font-weight: 300;
}
.roku-page-promise-money-image1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.roku-page-promise-time1 {
  left: 605px;
  color: #FFFFFF;
  bottom: -40px;
  position: absolute;
  font-size: 40px;
  font-weight: 300;
}
.roku-page-promise-time-image1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.roku-page-promise-freedom-image1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.roku-page-promise-freedom1 {
  color: #FFFFFF;
  right: -20px;
  bottom: -40px;
  position: absolute;
  font-size: 40px;
  font-weight: 300;
}
.roku-page-promise-text3 {
  color: rgb(255, 255, 255);
  bottom: -350px;
  position: absolute;
  font-size: 24px;
  text-align: center;
  font-weight: 100;
}
.roku-text045 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-text048 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-text051 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-divider-second {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 2%;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://i.imgur.com/i4Awqef.jpg');
  background-position: center;
}
.roku-divider-second-title {
  color: #FFFFFF;
  font-size: 32px;
  margin-top: 5%;
  text-align: center;
}
.roku-divider-second-text {
  color: #FFFFFF;
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: 5%;
}
.roku-divider-second-buttom {
  color: rgb(15, 15, 15);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 0px;
  margin-bottom: 10%;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(254, 191, 164);
}
.roku-divider-second-buttom:hover {
  transform: scale(1.02);
}
.roku-page-services {
  width: 100%;
  display: none;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.roku-page-services-title {
  color: #FFFFFF;
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0.00%,rgb(242, 164, 130) 19.00%,rgb(254, 191, 164) 39.00%,rgb(254, 191, 164) 60.00%,rgb(242, 164, 130) 81.00%,rgb(254, 144, 96) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roku-page-services-st1 {
  color: #FFFFFF;
  width: 70%;
  font-size: 42px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-left: 5%;
  margin-bottom: 3%;
  flex-direction: column;
}
.roku-page-services-h1 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a1 {
  margin-right: 1%;
}
.roku-page-services-h2 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a2 {
  margin-right: 1%;
}
.roku-page-services-h3 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a3 {
  margin-right: 1%;
}
.roku-page-services-h4 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a4 {
  margin-right: 1%;
}
.roku-page-services-h5 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a5 {
  margin-right: 1%;
}
.roku-image1 {
  width: 50%;
  object-fit: cover;
}
.roku-page-services-st2 {
  color: #FFFFFF;
  width: 70%;
  font-size: 42px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-left: 5%;
  margin-bottom: 3%;
  flex-direction: column;
}
.roku-page-services-h6 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a6 {
  margin-right: 1%;
}
.roku-page-services-h7 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a7 {
  margin-right: 1%;
}
.roku-page-services-h8 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a8 {
  margin-right: 1%;
}
.roku-page-services-h9 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a9 {
  margin-right: 1%;
}
.roku-image2 {
  width: 50%;
  object-fit: cover;
}
.roku-page-services-st3 {
  color: #FFFFFF;
  width: 70%;
  font-size: 42px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-left: 5%;
  flex-direction: column;
}
.roku-page-services-h10 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a10 {
  margin-right: 1%;
}
.roku-page-services-h11 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a11 {
  margin-right: 1%;
}
.roku-page-services-h12 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a12 {
  margin-right: 1%;
}
.roku-page-services-h13 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a13 {
  margin-right: 1%;
}
.roku-page-services-main {
  width: 100%;
  height: 525px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 3%;
}
.roku-page-services-title1 {
  top: 0px;
  left: 750px;
  color: #FFFFFF;
  position: absolute;
  font-size: 85px;
  font-weight: 300;
  background-image: linear-gradient(90deg, rgb(254, 144, 96) 0.00%,rgb(242, 164, 130) 19.00%,rgb(254, 191, 164) 39.00%,rgb(254, 191, 164) 60.00%,rgb(242, 164, 130) 81.00%,rgb(254, 144, 96) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roku-page-services-am {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
  margin-left: 11%;
  margin-right: 5%;
  flex-direction: column;
}
.roku-page-services-st11 {
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 3%;
  flex-direction: column;
}
.roku-page-services-h11 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a11 {
  margin-right: 1%;
}
.roku-text098 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h21 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a21 {
  margin-right: 1%;
}
.roku-page-services-h31 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a31 {
  margin-right: 1%;
}
.roku-text102 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h41 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a41 {
  margin-right: 1%;
}
.roku-page-services-h51 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a51 {
  margin-right: 1%;
}
.roku-text108 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-left-divider {
  top: 220px;
  left: -450px;
  right: 0px;
  width: 15%;
  margin: auto;
  opacity: 0.25;
  position: absolute;
  transform: rotate(90deg);
  object-fit: cover;
}
.roku-page-services-aa {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
  margin-right: 5%;
  flex-direction: column;
}
.roku-page-services-st21 {
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text21 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 3%;
  flex-direction: column;
}
.roku-page-services-h61 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a61 {
  margin-right: 1%;
}
.roku-text111 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h71 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a71 {
  margin-right: 1%;
}
.roku-text113 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h81 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a81 {
  margin-right: 1%;
}
.roku-text117 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-text118 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h91 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a91 {
  margin-right: 1%;
}
.roku-text121 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-text122 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-right-divider {
  top: 220px;
  left: 1150px;
  width: 15%;
  opacity: 0.25;
  position: absolute;
  transform: rotate(90deg);
  object-fit: cover;
}
.roku-page-services-ag {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
  flex-direction: column;
}
.roku-page-services-st31 {
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5%;
}
.roku-page-services-text31 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.roku-page-services-h101 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a101 {
  margin-right: 1%;
}
.roku-text126 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h111 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a111 {
  margin-right: 1%;
}
.roku-text129 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-page-services-h121 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a121 {
  margin-right: 1%;
}
.roku-page-services-h131 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  font-weight: 100;
  margin-bottom: 3%;
}
.roku-page-services-a131 {
  margin-right: 1%;
}
.roku-text135 {
  color: #febfa4;
  font-style: normal;
  font-weight: 500;
}
.roku-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.roku-footer-logo {
  height: 50px;
  object-fit: cover;
}
.roku-footer-text {
  color: #FFFFFF;
}
.roku-footer-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.roku-link1 {
  display: contents;
}
.roku-footer-instagram {
  fill: #FFFFFF;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 1600px) {
  .roku-page-landing-button {
    display: contents;
  }
  .roku-page-landing-button1 {
    display: contents;
  }
}
@media(max-width: 991px) {
  .roku-page-landing {
    flex-direction: column;
  }
  .roku-page-landing-logo {
    width: 80%;
  }
  .roku-page-landing-text {
    margin-top: 10%;
    align-items: center;
    margin-right: 0px;
  }
  .roku-page-landing-h1 {
    text-align: center;
  }
  .roku-page-landing-h2 {
    text-align: center;
  }
  .roku-page-landing-h3 {
    text-align: center;
  }
  .roku-page-landing-h4 {
    text-align: center;
  }
  .roku-page-journey {
    flex-direction: column;
  }
  .roku-page-journey-title {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .roku-text {
    text-align: center;
  }
  .roku-text003 {
    text-align: center;
  }
  .roku-page-journey-image {
    width: 80%;
  }
  .roku-page-journey-text {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-journey-h1 {
    text-align: center;
  }
  .roku-page-journey-h2 {
    text-align: center;
  }
  .roku-page-journey-h3 {
    text-align: center;
  }
  .roku-page-promise {
    align-items: center;
  }
  .roku-page-promise-text {
    flex-direction: column;
  }
  .roku-page-promise-money-image {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-page-promise-time-image {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-page-promise-freedom-image {
    width: 100px;
    height: 100px;
    position: static;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-page-promise-text2 {
    flex-direction: column;
  }
  .roku-page-promise-money-image1 {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-page-promise-time-image1 {
    width: 100px;
    height: 100px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-page-promise-freedom-image1 {
    width: 100px;
    height: 100px;
    position: static;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
  }
  .roku-divider-second-text {
    width: 100%;
  }
  .roku-page-services-title {
    text-align: center;
  }
  .roku-page-services-st1 {
    text-align: center;
  }
  .roku-page-services-st2 {
    text-align: center;
  }
  .roku-page-services-st3 {
    text-align: center;
  }
  .roku-page-services-title1 {
    text-align: center;
  }
  .roku-page-services-st11 {
    text-align: center;
  }
  .roku-page-services-st21 {
    text-align: center;
  }
  .roku-page-services-st31 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .roku-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-nav {
    display: none;
  }
  .roku-btn-group {
    display: none;
  }
  .roku-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .roku-page-landing {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-page-journey {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-page-journey-h2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .roku-page-journey-h3 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .roku-divider-first {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-page-promise {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-page-promise-title {
    text-align: center;
  }
  .roku-page-promise-text {
    flex-direction: column;
  }
  .roku-page-promise-text2 {
    flex-direction: column;
  }
  .roku-divider-second {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-divider-second-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .roku-page-services {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-page-services-title {
    text-align: center;
  }
  .roku-page-services-title1 {
    text-align: center;
  }
  .roku-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .roku-footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .roku-container {
    align-content: center;
  }
  .roku-header {
    padding: var(--dl-space-space-unit);
  }
  .roku-header-logo {
    height: 4rem;
  }
  .roku-page-landing-button {
    color: #0f0f0f;
    display: flex;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    border-radius: 0px;
    background-color: rgb(254, 191, 164);
  }
  .roku-mobile-menu {
    display: none;
    padding: 16px;
  }
  .roku-page-landing {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-landing-button1 {
    color: rgb(15, 15, 15);
    display: flex;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: rgb(254, 191, 164);
  }
  .roku-page-landing-logo {
    position: static;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 10%;
  }
  .roku-page-landing-text {
    width: 100%;
    position: static;
  }
  .roku-page-landing-h1 {
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-landing-h2 {
    width: 100%;
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
  }
  .roku-page-landing-h3 {
    width: 100%;
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
  }
  .roku-page-landing-h4 {
    width: 100%;
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
  }
  .roku-page-journey {
    height: 934px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .roku-bg-roku1 {
    top: -170px;
    left: -4px;
    width: 431px;
    height: 447px;
  }
  .roku-page-journey-title {
    margin-bottom: var(--dl-space-space-unit);
  }
  .roku-page-journey-t1 {
    display: none;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  }
  .roku-page-journey-t2 {
    display: block;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  }
  .roku-page-journey-image {
    width: 40%;
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-journey-text {
    width: 100%;
    position: static;
    margin-bottom: var(--dl-space-space-unit);
  }
  .roku-page-journey-h1 {
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 0%;
  }
  .roku-page-journey-h2 {
    text-align: center;
    font-weight: 100;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .roku-page-journey-h3 {
    text-align: center;
    font-weight: 100;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .roku-page-journey-button {
    color: #0f0f0f;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    margin-right: 0%;
    border-radius: 0px;
    background-color: rgb(254, 191, 164);
  }
  .roku-icon10 {
    left: 219px;
    bottom: 0px;
    margin-bottom: 5%;
  }
  .roku-divider-first {
    height: 311px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .roku-divider-first-image {
    width: 100%;
  }
  .roku-page-promise {
    height: 883px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .roku-bg-roku11 {
    top: 2258px;
    left: 24px;
    right: -40px;
    width: 397px;
    height: 441px;
  }
  .roku-page-promise-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
  }
  .roku-page-promise-text {
    display: flex;
  }
  .roku-page-promise-money {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-money-image {
    width: 100px;
    height: 100px;
    position: static;
  }
  .roku-page-promise-time {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-time-image {
    width: 100px;
    height: 100px;
    position: static;
  }
  .roku-page-promise-freedom {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-freedom-image {
    width: 100px;
    height: 100px;
  }
  .roku-page-promise-text1 {
    color: rgb(255, 255, 255);
    position: static;
    align-self: center;
    font-weight: 100;
  }
  .roku-text017 {
    font-style: normal;
  }
  .roku-text018 {
    font-style: normal;
  }
  .roku-text019 {
    font-style: normal;
  }
  .roku-text020 {
    font-style: normal;
  }
  .roku-text021 {
    font-style: normal;
  }
  .roku-text022 {
    font-style: normal;
  }
  .roku-text023 {
    font-style: normal;
  }
  .roku-text024 {
    color: #febfa4;
    font-style: normal;
    font-weight: 700;
  }
  .roku-text025 {
    font-style: normal;
  }
  .roku-text026 {
    font-style: normal;
  }
  .roku-text027 {
    color: #febfa4;
    font-weight: 700;
  }
  .roku-text028 {
    font-style: normal;
  }
  .roku-text029 {
    font-style: normal;
  }
  .roku-text030 {
    color: #febfa4;
    font-weight: 700;
  }
  .roku-text031 {
    font-style: normal;
  }
  .roku-page-promise-text2 {
    display: none;
  }
  .roku-page-promise-money1 {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-money-image1 {
    width: 100px;
    height: 100px;
    position: static;
  }
  .roku-page-promise-time1 {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-time-image1 {
    width: 100px;
    height: 100px;
    position: static;
  }
  .roku-page-promise-freedom-image1 {
    width: 100px;
    height: 100px;
  }
  .roku-page-promise-freedom1 {
    color: rgb(255, 255, 255);
    position: static;
    font-weight: 300;
  }
  .roku-page-promise-text3 {
    color: rgb(255, 255, 255);
    position: static;
    align-self: center;
    font-weight: 100;
  }
  .roku-text038 {
    font-style: normal;
  }
  .roku-text039 {
    font-style: normal;
  }
  .roku-text040 {
    font-style: normal;
  }
  .roku-text041 {
    font-style: normal;
  }
  .roku-text042 {
    font-style: normal;
  }
  .roku-text043 {
    font-style: normal;
  }
  .roku-text044 {
    font-style: normal;
  }
  .roku-text045 {
    color: #febfa4;
    font-style: normal;
    font-weight: 700;
  }
  .roku-text046 {
    font-style: normal;
  }
  .roku-text047 {
    font-style: normal;
  }
  .roku-text048 {
    color: #febfa4;
    font-weight: 700;
  }
  .roku-text049 {
    font-style: normal;
  }
  .roku-text050 {
    font-style: normal;
  }
  .roku-text051 {
    color: #febfa4;
    font-weight: 700;
  }
  .roku-text052 {
    font-style: normal;
  }
  .roku-divider-second {
    height: 375px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .roku-divider-second-title {
    color: rgb(255, 255, 255);
    font-style: normal;
    margin-top: 15%;
    font-weight: 500;
  }
  .roku-divider-second-text {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 100;
    margin-bottom: 5%;
  }
  .roku-divider-second-buttom {
    color: #0f0f0f;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    border-radius: 0px;
    background-color: rgb(254, 191, 164);
  }
  .roku-page-services {
    height: 833px;
    display: flex;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .roku-page-services-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  }
  .roku-page-services-st1 {
    font-size: 20px;
  }
  .roku-page-services-text1 {
    width: 100%;
  }
  .roku-page-services-h1 {
    font-size: 16px;
  }
  .roku-text056 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-h2 {
    font-size: 16px;
  }
  .roku-page-services-h3 {
    font-size: 16px;
  }
  .roku-text060 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-h4 {
    font-size: 16px;
  }
  .roku-page-services-h5 {
    font-size: 16px;
  }
  .roku-text066 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-image1 {
    width: 150px;
    height: 12px;
    margin-bottom: 5%;
  }
  .roku-page-services-st2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .roku-page-services-text2 {
    width: 100%;
  }
  .roku-text069 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text071 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text075 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text076 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text079 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text080 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-image2 {
    width: 150px;
    height: 12px;
    margin-bottom: 5%;
  }
  .roku-page-services-st3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .roku-page-services-text3 {
    width: 100%;
  }
  .roku-text084 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text087 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text093 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-main {
    display: none;
    align-items: flex-start;
  }
  .roku-page-services-title1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    background-image: linear-gradient(90deg, rgb(254, 144, 96) 0%, rgb(242, 164, 130) 19%, rgb(254, 191, 164) 39%, rgb(254, 191, 164) 60%, rgb(242, 164, 130) 81%, rgb(254, 144, 96) 100%);
  }
  .roku-page-services-st11 {
    font-size: 20px;
  }
  .roku-page-services-text11 {
    width: 100%;
  }
  .roku-page-services-h11 {
    font-size: 16px;
  }
  .roku-text098 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-h21 {
    font-size: 16px;
  }
  .roku-page-services-h31 {
    font-size: 16px;
  }
  .roku-text102 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-h41 {
    font-size: 16px;
  }
  .roku-page-services-h51 {
    font-size: 16px;
  }
  .roku-text108 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-left-divider {
    width: 150px;
    height: 12px;
    margin-bottom: 5%;
  }
  .roku-page-services-st21 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .roku-page-services-text21 {
    width: 100%;
  }
  .roku-text111 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text113 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text118 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text121 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-page-services-right-divider {
    width: 150px;
    height: 12px;
    margin-bottom: 5%;
  }
  .roku-page-services-st31 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .roku-page-services-text31 {
    width: 100%;
  }
  .roku-text126 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text129 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-text135 {
    color: #febfa4;
    font-style: normal;
    font-weight: 500;
  }
  .roku-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .roku-footer-logo {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .roku-footer-text {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
