<div>
  <link href="./feature-card4.css" rel="stylesheet" />
  <div class="feature-card4-feature-card">
    <span class="feature-card4-text">
      <span>
        AT ROKU, WE UNDERSTAND THE SIGNIFICANCE OF SELF-EXPRESSION IN OUR DAILY
        LIVES. AS SOCIAL MEDIA CONTINUES TO EXPAND IN THE MODERN WORLD, WOULDN'T
        IT BE GREAT TO TURN OUR PASSION INTO A CAREER? ROKU EMBODIES A LIFESTYLE
        THAT ENCOURAGES EVERYONE TO LIVE LIFE ON THEIR OWN TERMS, PROVIDING
        OPPORTUNITIES TO DO SO.
      </span>
    </span>
  </div>
</div>
