<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span class="navigation-links-nav-home"><span>HOME</span></span>
    <span class="navigation-links-nav-journey"><span>JOURNEY</span></span>
    <span class="navigation-links-nav-promise"><span>PROMISE</span></span>
    <span class="navigation-links-nav-services"><span>SERVICES</span></span>
    <a
      href="https://ylb70az2une.typeform.com/to/GEyc9EbO"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-nav-apply-now"
    >
      <span>APPLY NOW</span>
    </a>
  </nav>
</div>
