<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span class="navigation-links-text"><span>HOME</span></span>
    <span class="navigation-links-text1"><span>JOURNEY</span></span>
    <span class="navigation-links-text2"><span>PROMISE</span></span>
    <span class="navigation-links-text3"><span>SERVICES</span></span>
    <a
      href="https://ylb70az2une.typeform.com/to/GEyc9EbO"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link"
    >
      <span>APPLY NOW</span>
    </a>
  </nav>
</div>
