<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="#pageLanding" class="navigation-links-link"><span>HOME</span></a>
    <a href="#pageJourney" class="navigation-links-link1">
      <span>JOURNEY</span>
    </a>
    <a href="#pagePromise" class="navigation-links-link2">
      <span>PROMISE</span>
    </a>
    <span class="navigation-links-text"><span>SERVICES</span></span>
    <a
      href="https://ylb70az2une.typeform.com/to/GEyc9EbO"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link3"
    >
      <span>APPLY NOW</span>
    </a>
  </nav>
</div>
