.navigation-links-nav {
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navigation-links-text {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-threeunits);
}
.navigation-links-text1 {
  font-size: 32px;
  font-weight: 300;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.navigation-links-text2 {
  font-size: 32px;
  font-weight: 300;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.navigation-links-text3 {
  font-size: 32px;
  font-weight: 300;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.navigation-links-link {
  font-size: 32px;
  font-weight: 300;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}










@media(max-width: 767px) {
  .navigation-links-text1 {
    margin-left: 0;
  }
  .navigation-links-text2 {
    margin-left: 0;
  }
  .navigation-links-text3 {
    margin-left: 0;
  }
  .navigation-links-link {
    margin-left: 0;
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name11 {
    align-self: center;
  }
}
